<!--import della base-->
{% extends "base.html" %}
<!-- Esempio per modificare il contenuto dei blocchi nella base: sovrascrive i blocchi del template base-->
{% block title %}Sign-up{% endblock %}

{% block content %}
<form method ="POST">
    <h1 align ="center">Registrati</h1>
    <div class = "form-group"> 
        <label for="email">Indirizzo Email</label>
        <input type="email" class="form-control" id="email" name ="email" placeholder = "Inserire Email"/>
    </div>
    <div class = "form-group"> 
        <label for="firstName">Nome</label>
        <input type="text" class="form-control" id="firstName" name ="firstName" placeholder = "Inserire Nome"/>
    </div>
    <div class = "form-group"> 
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name ="password1" placeholder = "Inserire Password"/>
    </div>
    <div class = "form-group"> 
        <label for="password2">Confermare password</label>
        <input type="password" class="form-control" id="password2" name ="password2" placeholder = "Conferma Password"/>
    </div>
    <br/>
    <button type="submit" class = "btn btn-primary">Registrati</button>
</form> 
{% endblock %}